@model IEnumerable<ProjectAlumni.Models.vacancy>

@{
    ViewBag.Title = "Index";
}
    <link href="@Url.Content("~/Content/vacancies.css")" rel="stylesheet" type="text/css" />

<div class="vac-container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="table">

        @foreach (var item in Model)
        {
            var counter = 0;
            counter++;
            string idName = "id='text" + Convert.ToString(counter)+"'";
        <div class="vac-box">
            <span class="title">
                <h2>@Html.DisplayFor(modelItem => item.title)</h2>
                
            </span>
            <div class="column">
                <div class="info">
                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)<br />
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)<br />
                    @Html.DisplayFor(modelItem => item.date)<br />
                    <div class="edit">
                        @Html.ActionLink("Reacties", "Details", new { id = item.vacancyid}) <br />
                    @if (Convert.ToString(ViewBag.userid) == Convert.ToString(item.users_userid) || User.IsInRole("Admin"))
                    {
                            @Html.ActionLink("Edit", "Edit", new { id = item.vacancyid }) <br />
                            @Html.ActionLink("Delete", "Delete", new { id = item.vacancyid }) <br />
                    }
                    </div>
                </div>
                <span class="text" idName><!--hier moet de idkomen met telkesn een hogere nummer-->
                    @Html.DisplayWithLinksFor(DisplayWithLinksFor => item.text)
                </span>
            </div>
           <button onclick="loadMore()" class="load">Laad meer</button><!--hier moet je de nummer in de paramters geven-->
        </div>
        }

    </div>
</div>
<div class="background">

</div>

