@model IEnumerable<ProjectAlumni.Models.vacancy>

@{
    ViewBag.Title = "Index";
}

    <link href="@Url.Content("~/Content/vacancies.css")" rel="stylesheet" type="text/css" />

<div class="background2 container">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @{ 
        int counter = 0;
    }
    @foreach (var item in Model)

    {
            counter++;
    <div class="vac-box">
        <div class="title">
            <h2>@Html.DisplayFor(modelItem => item.title)</h2>

        </div>
        <div class="column">
            <div class="info">
                @Html.DisplayFor(modelItem => item.AspNetUser.UserName)<br />
                @Html.DisplayFor(modelItem => item.date)<br />
                <div class="edit">
                    @Html.ActionLink("Reacties", "Details", new { id = item.vacancyid }) <br />
                    @if (Convert.ToString(ViewBag.userid) == Convert.ToString(item.users_userid) || User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.vacancyid }) <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.vacancyid }) <br />
                    }
                </div>


            </div>
            <div class="text" id="@counter">
                @Html.DisplayFor(modelItem => item.text)
            </div>
        </div>
        <div onclick="loadMore(@counter)" class="load">Meer weergeven</div>
    </div>
    }
</div>

<div class="background">

</div>

