@model ProjectAlumni.Models.post

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayWithLinksFor(model => model.text)
        </dd>

        <dt>
            Op:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            Door:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>

    </dl>

    @{ foreach (var reply in ViewBag.replies)
        {
            <p>@reply.text</p>
        }
    }
    </div>
<input type="button" value="Reageer" onclick="location.href='@Url.Action("Create", "Replies", new { postID = ViewBag.postid })'" />
