@model IEnumerable<ProjectAlumni.Models.post>

@{
    ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/Forum.css")" rel="stylesheet" type="text/css" />


<div class="container">
    <h2>Index</h2>
    <p>
        @Html.ActionLink("Nieuw Bericht", "Create", null, new { @class = "btn btn-danger" })
    </p>
    <div style="overflow-y: auto; height: 80vh;">
        @foreach (var item in Model)
        {
            <div class="well" >
                <div class="row" >
                    <div class="col-sm-2">
                        <b>@Html.DisplayFor(modelItem => item.AspNetUser.UserName)</b><br />
                        <b style="font-size: 12px">Voor het laatst bewerkt:</b><br />
                        <p style="font-size: 12px"><b>@Html.DisplayFor(modelItem => item.date)</b></p>
                    </div>
                    <div class="post col-sm-8" style="max-height: 400px; overflow-y:auto">
                        <h2>@Html.DisplayFor(modelItem => item.title)</h2>
                        <p>@Html.DisplayFor(modelItem => item.text)</p>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                        @Html.ActionLink("Reacties", "Details", new { id = item.postid }, new { @class = " actions btn btn-danger " })
                    </div>
                    @if (Convert.ToString(ViewBag.userid) == Convert.ToString(item.users_userid) || User.IsInRole("Admin"))
                    {
                        <div class="col-sm-3">
                            @Html.ActionLink("Edit", "Edit", new { id = item.postid }, new { @class = "actions btn btn-danger" })
                        </div>
                        <div class="col-sm-3">
                            @Html.ActionLink("Delete", "Delete", new { id = item.postid }, new { @class = "actions btn btn-danger" })
                        </div>
                    }

                </div>
            </div>
        }
    </div>

</div>