@model IEnumerable<ProjectAlumni.Models.news>

@{
    ViewBag.Title = "Index";
}
    <link href="@Url.Content("~/Content/news.css")" rel="stylesheet" type="text/css" />
<h2 style="color:white;text-align:center;">Nieuws</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.thumbnail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                if (item.thumbnail != null && item.thumbnail.Length > 0)
                {
                    var base64 = Convert.ToBase64String(item.thumbnail);
                    var imgSrc = String.Format("data:image;base64,{0}", base64);
                    <img src="@imgSrc" class="image"/>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
        </td>
        <td>
            @{
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.newsid }) <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.newsid }) <br />
                }
            }
            @Html.ActionLink("Lees Meer...", "Details", new { id = item.newsid })

        </td>
    </tr>
}

</table>
<div class="background"></div>