@model IEnumerable<ProjectAlumni.Models.news>

@{
    ViewBag.Title = "Index";
}
    <link href="@Url.Content("~/Content/news.css")" rel="stylesheet" type="text/css" />
    <div class="container background2">
        <h2 style="color:white;text-align:center;">Nieuws</h2>
        <p>

            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Create New", "Create")
            }

        </p>
        @foreach (var item in Model)
        {
             <div class="news-box">
                <h2>@Html.DisplayFor(modelItem => item.title)</h2>
                <div class="rows">
                    <div class="row1">
                        @{
                            if (item.thumbnail != null && item.thumbnail.Length > 0)
                            {
                                var base64 = Convert.ToBase64String(item.thumbnail);
                                var imgSrc = String.Format("data:image;base64,{0}", base64);
                                <div class="image" style="background-image:url('@imgSrc')"></div>
                            }
                        }
                        @Html.DisplayFor(modelItem => item.AspNetUser.UserName)<br />
                        @Html.DisplayFor(modelItem => item.date)<br />

                    </div>
                    <div class="row2">
                        <div class="text">@Html.DisplayWithLinksFor(modelItem => item.text)</div>
                    </div>
                </div>
        
            @if (User.IsInRole("Admin"))
            {
                <div class="button">@Html.ActionLink("Edit", "Edit", new { id = item.newsid })</div>
                <div class="button">@Html.ActionLink("Delete", "Delete", new { id = item.newsid })</div>
            }
        <div class="button">@Html.ActionLink("Lees Meer...", "Details", new { id = item.newsid })</div>
    </div>
        
        }

    </div>
<div class="background"></div>