<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Alumni</title>
	@Styles.Render("~/Content/css")
	<link href="@Url.Content("~/Content/General.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	@RenderBody()
	<span class="triangle" onclick="navbar()"></span>
	<nav class="navbar" id="navbar">
		<ul>
			<li>@Html.ActionLink("Home", "Index", "Home")</li>	
			<li>@Html.ActionLink("Inloggen", "Index", "Login")</li>
			<li>@Html.ActionLink("Registreren", "Index", "Register")</li>
		</ul>
	</nav>
	<header class="pc-header">
		<h2>Alumni</h2>
		<hr>
		<h1>Hotel School Almelo</h1>
	</header>
	<div class="seperation">
	</div>
	<div class="information container">
		<!--er kunnen meer NewsBoxen bij-->
		<div class="newsBox">
			<h2></h2>   <!--plaats hier de naam van de nieuws of informatie-->
			<div class="text">
			</div><!--plaats hier de nieuws of informatie-->
		</div>
		<div class="newsBox">
			<h2></h2>   <!--plaats hier de naam van de nieuws of informatie-->
			<div class="text">
			</div><!--plaats hier de nieuws of informatie-->
		</div>
	</div>
	<footer class="pc-footer">
		<ul class="info">
			<li><h3>Contact</h3></li>
			<li>Wierdensestraat 65,</li>
			<li>Almelo</li>
			<li>Tel: 0546 809 000</li>
			<li>E-mail: info@rocvantwente.nl</li>
		</ul>
	</footer>
</body>
</html>
