<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alumni</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/General.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" /> 
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/frontend.js"></script>
</head>
<body>
    @RenderBody()
    <div class="hamburger" onclick="nav()">
        <div class="icon"></div>
        <div" class="logo"></div">
    </div>
    
    <nav class="navbar" id="navbar">
        <ul class="nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("News", "Index", "News")</li>
            @if (User.Identity.IsAuthenticated)
            {

                <li>@Html.ActionLink("Forum", "Index", "Post")</li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li>@Html.ActionLink("Admin Panel", "Index", "Admin")</li>
            }


            <li class="empty"></li><!--leave this empty-->
        </ul>
        <ul class="userbar">
            @Html.Partial("_LoginPartial")
            <li class="empty2"></li><!--leave this empty-->
        </ul>
    </nav>
</body>
</html>
