<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alumni</title>
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/General.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" /> 
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/frontend.js"></script>
</head>
<body>
    @RenderBody()
    <span class="triangle" onclick="nav()"></span>
    <nav class="navbar" id="navbar">
        <ul class="nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        <ul class="userbar">
            @Html.Partial("_LoginPartial")
        </ul>
    </nav>
</body>
</html>
